<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Signup</title>
 <link href="static/css/scrolling-nav.css" rel="stylesheet">


  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Custom styles for this template -->
  
  <link rel="icon" href="https://i.ibb.co/RSh7ZrF/logo-2.png">
  
  <style type="text/css">
    .navbar-collapse.in {
    display: block !important;
}
  </style>

</head>

<body id="page-top">

 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">SmartFeed.ai</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              
  
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
            <span class="sr-only">(current)</span>
          </li>
           {% if "logged_in" in session and  session["logged_in"]==True  %}
           <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>


           {%else%}
           <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Signup</a>
          </li>
           
            {% endif %}
          
  
        </ul>
      </div>
    </div>
  </nav>


  <header class="bg-primary text-white">
    <div class="container text-center">
      <h2>SignUp</h2>
      {% with messages = get_flashed_messages() %}
     {% if messages %}
        {% for message in messages %}
          <strong> {{ message }} </strong>
        {% endfor %}
     {% endif %}
  {% endwith %}
      
    </div>
  </header>


  <section>
    <div class="container">

      <form method="POST" action="/signup">


  <div class="form-row">
    <div class="form-group col-md-6">
      <label >First Name</label>
     <input required type="text" name="firstName" class="form-control"  required>
    </div>
    <div class="form-group col-md-6">
      <label >Last Name</label>
     <input required type="text" name="lastName" class="form-control"  required>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" name="email" class="form-control" id="inputEmail4"  required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" name="password" class="form-control" id="inputPassword4"  required>
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-3 my-1">
      <label>Slack Username</label>
      
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" name="slackUsername" class="form-control" id="inlineFormInputGroupUsername" placeholder=""  required>
      </div>
    </div>
  </div>
  <br>




  <button type="submit" class="btn btn-primary">SignUp</button>
</form>

      </div>
  </div>
  </section>

  
</body>

</html>
